{% extends 'base.html' %}
{% block content %}
    <main class="col-md-8">
        <div class="text-center margin-tb-1">
            {{ article.author }}
            {{ article.created_time }}
            阅读({{ article.views }})
            评论({{ article.comment_set.count }})
        </div>
        <article>
            {{ article.md_content | safe }}
        </article>
        <div id="coment" class="margin-tb-2">
            <h5>
                留言 (6条)
                <a href="#" class="font-size-10">我要留言</a>
            </h5>
            <hr>
            <ul class="no-padding-left">
                <li class="comment margin-tb-1">
                    <span class="font-size-8">ten1 2018年10月16日 11:10说：</span>
                    <div class="text">
                        很好的文章
                    </div>
                </li>
                <li class="comment margin-tb-1">
                    <span class="font-size-8">ten1 2018年10月16日 12:15说：</span>
                    <div class="text">
                        很帅
                    </div>
                </li>
                <li class="comment margin-tb-1">
                    <span class="font-size-8">ten1 2018年10月16日 16:59说：</span>
                    <div class="text">
                        123123123
                    </div>
                </li>
                <li class="comment margin-tb-1">
                    <span class="font-size-8">ten1 2018年10月16日 17:07说：</span>
                    <div class="text">
                        123123
                    </div>
                </li>
                <li class="comment margin-tb-1">
                    <span class="font-size-8">ten1 2018年10月16日 17:08说：</span>
                    <div class="text">
                        123123
                    </div>
                </li>
                <li class="comment margin-tb-1">
                    <span class="font-size-8">ten1 2018年10月16日 17:09说：</span>
                    <div class="text">
                        q23123123
                    </div>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}