{% extends 'base.html' %}
{% block title %}{{ TITLE }}-{% if title %}{{ title }}{% endif %}{% endblock %}
{% block page_title %}{% if not title %}{{ TITLE }}{% endif %}{{ title }}{% endblock %}
{% block content %}
    <main class="col-md-8">
        <div class="container">
            <div class="row">
                {% for error in form.non_field_errors %}
                    <div class="alert alert-info" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                <form class="input-form col-11" method="post">
                    {% include 'basic_form.html' %}
                    <button type="submit" class="btn btn-info col-12">提交</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}