<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Ten的网络日志-注册</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./static/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/css/github.css">
  <link rel="stylesheet" href="./static/css/custom.css">
</head>
<body>
<header class="container">
  <div class="row margin-tb-2">
    <div class="col-md-8 col-sm-7 col-xs-4">
      <h1>注册</h1>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-8">
      <div>
        <a href="#">首页</a> |
        <a href="#" target="_blank">CMS</a> |
        <a href="#">注册</a> |
        <a href="#">登录</a>
      </div>
      <div class="search-form">
        <form role="search" action="#">
          <input type="search" placeholder="请输入关键字" required="" name="q" value="">
          <input type="submit" value="搜索">
        </form>
      </div>
    </div>
  </div>
  <hr>
</header>
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <div class="container">
        <div class="row">
          <form class="input-form col-11" method="post">
            <div class="form-group">
              <label><em class="red-text">*</em> 昵称</label>
              <input type="text" name="nickname" value="1" maxlength="32" required="" id="id_nickname">
            </div>
            <div class="form-group">
              <label><em class="red-text">*</em> 电子邮件地址</label>
              <input type="email" name="email" value="11@qq.com" maxlength="254" required="" id="id_email">
            </div>
            <div class="form-group">
              <label><em class="red-text">*</em> 密码</label>
              <input type="password" name="password1" required="" id="id_password1">
              <small class="help_text text-muted">
                <ul>
                  <li>你的密码不能与其他个人信息太相似。</li>
                  <li>你的密码必须包含至少 8 个字符。</li>
                  <li>你的密码不能是大家都爱用的常见密码。</li>
                  <li>你的密码不能全部为数字。</li>
                </ul>
              </small>
            </div>
            <div class="form-group">
              <label><em class="red-text">*</em> 密码确认</label>
              <input type="password" name="password2" required="" id="id_password2">
              <ul class="errorlist">
                <li>密码长度太短。密码必须包含至少 8 个字符。</li>
                <li>这个密码太常见了。</li>
                <li>这个密码全部是数字的。</li>
              </ul>
              <small class="help_text text-muted">为了校验，请输入与上面相同的密码。</small>
            </div>
            <button type="submit" class="btn btn-info col-12">提交</button>
          </form>
        </div>
      </div>
    </main>
    <aside class="col-md-4">
      <div>
        <h5>最新文章</h5>
        <ul>
          <li>
            <a href="#">Django教程3</a>
          </li>
          <li>
            <a href="#">Django教程2</a>
          </li>
          <li>
            <a href="#">Django教程1</a>
          </li>
        </ul>
      </div>
      <div>
        <h5>归档</h5>
        <ul>
          <li>
            <a href="#">2018 年 10 月</a>
          </li>
        </ul>
      </div>
      <div>
        <h5>分类</h5>
        <ul>
          <li>
            <a href="#">flask课程 (2)</a>
          </li>
          <li>
            <a href="#">Django课程 (1)</a>
          </li>
        </ul>
      </div>
      <div>
        <h5>标签云</h5>
        <ul>
          <li>
            <a href="#">python (3)</a>
          </li>
          <li>
            <a href="#">flask (1)</a>
          </li>
          <li>
            <a href="#">django (2)</a>
          </li>
        </ul>
      </div>
      <div>
        <a href="#">RSS订阅</a>
      </div>
    </aside>
  </div>
</div>
<footer class="container">
  <div class="row">
    <div class="col-md-12 text-center margin-tb-1">
      <a href="https://www.dongnaoedu.com/" target="_blank"> © 2018 dongnaoedu.com</a>
    </div>
  </div>
</footer>
</body>
</html>